@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

/*  make text white and background black */
body {
  color: white;
  background-color: black;
  /*font family Manrope*/
  font-family: 'Manrope', sans-serif;

}

/* custom h3 text color */
h3 {
  @apply text-gray-400;
}

h2 {
  @apply font-semibold text-sm md:text-xl;
}

h1 {
  @apply font-bold text-sm md:text-4xl;
}